     
        <p>
            The Mineral Rights Forum is America's conversation place for mineral owners.  Online since 2009, mineral owners
            are becoming more and more educated about their assets.  You're welcome to read without registering, but registering
            alows you to post questions, respond to others, and accumulate reputation and history with us.  Come on in, the water
            's fine!
        </p>
        
        <p>
            Historically, mineral owners have been dispersed and unorganized.  Now, mineral owners can come together to 
            share their knowledge and insight with other owners, and hear from professionals in the business.  Like any public
            meeting place, act with care and common sense.  Be sure to review our rules of the road.
            
        </p>
        
        <p>
        Here&rsquo;s what we are not. We are not:<br/>
- a place for solicitation of any type of business within our discussions.<br/>
- a place to peruse posts for those you can attempt to lure others into private contact.
</p>
